<form action="/trip/create" method="POST">
  <h2>Plan a Trip</h2>
  <h3>Locations are direct flights from local Eppley Airfield.</h3>

  <input type="date" placeholder="Departure Date (mm/dd/yyyy)" name="departureDate"><br/>
  <input type="hidden" value=OMA name="origin">
  <input type="text" placeholder="Destination Airport Code" name="destination"> Please select from below.<br/>
  <input type="text" placeholder="Customer ID Number" name="owner"><br/>
  <h4>Save Trip</h4>
  <input class="btn btn-success" type="submit" value="Save"/>
</form>

<!--Doesn't need to be a form here; we're just displaying-->
<h3>Currently available destination aiports:</h3>

<div class="container-fluid">
  <table class="table table-striped">
    <tr>
      <th>IATA Airport Code</th>
    </tr>
    <% _.each(ports.response, function(port) { %>
    <tr>
      <td><%= port.arrival %></td>
    </tr>
    <% }); %>
  </table>
</div>

