<h2>Nice</h2>

<form action="/trip/create" method="POST" >
  <h2>Create a Customer</h2>

  <input type="text" placeholder="Departure Date" name="departureDate" ><br />
  <input type="text" placeholder="Destination" name="destination" ><br />
  <input type="text" placeholder="Date to Return" name="returnDate" ><br />
  <input class="btn btn-success" type="submit" value="Create Customer" />
</form>
