<br>
<br>
<center> <h4> <a href="/customer/new"> New Customer </a>        |     <a href="/customer"> All Customers </a>      |      <a href="/trip/new"> Create New Trip </a> </h4> </center>

<br>
<br>
<br>
<br>
<br>

<center><img  align="middle" src="http://i1077.photobucket.com/albums/w466/brentmac94/Sails%20Travel%20Guide%20Dark_zpsscq9ggxg.png" border="0" alt=" photo Logo_zps5iyjczue.png" width="900" height="600" alt="Logos"> </center>


<!-- CSS Edit/Revision --->



