<br>
<br>
<center> <h4> <a href="/customer/new"> New Customer </a>        |     <a href="/customer"> All Customers </a>      |      <a href="/trip/new"> Create New Trip </a> </h4> </center>

<br>
<h4><center>Welcome to the Omaha Travel Guide!</center></h4>
<h5><center>As we trial our site, the cost of flight is on us! You will only need to cover hotel and rental car cost. <br>
            Please navigate with the links above to plan your get-away!</center></h5>
<br>
<br>
<br>
<br>

<center><img  align="middle" src="http://i1077.photobucket.com/albums/w466/brentmac94/Sails%20Travel%20Guide%20Dark_zpsscq9ggxg.png" border="0" alt=" photo Logo_zps5iyjczue.png" width="900" height="600" alt="Logos"> </center>


<!-- CSS Edit/Revision --->



