<!--Give each row its own form (POST method)-->
<h1>Yo, choose a flight!</h1>

<!--cycles through each flight object in "scheduledFlights" array-->
<%// _.each(flight.scheduledFlights, function(particularFlight) { %>
  <!--table with form rows-->
    <!--e.g. particularFlight.flightNumber-->
