 <h3> <a href="/../"> Sails Travel Guide Homepage </a> </div> </h3>

<form action="/customer/update/<%= customer.id %>" method="POST" >
  <h2>Edit a Customer</h2>

  <h5> Name: </h5><input value="<%= customer.name %>"type="text" name="name" ><br />
  <h5>Email:</h5><input value="<%= customer.email %>"type="text" name="email"><br/>
  <h5>Tier:</h5><input value="<%= customer.tier %>"type="text" name="tier" ><br />
  <br>
  <input type="submit" value="Submit" />
</form>
