<!--Give each row its own form (POST method)-->
<h1>Yo, choose a ride!</h1>

<form action="/ride/create" method="POST">
  <div class="container-fluid">
    <table class="table table-striped">
      <tr>
        <th>Estimated Cost</th>
        <th>Duration</th>
        <th></th>
        <th></th>
      </tr>
      <!--cycles through each flight object in "scheduledFlights" array-->
      <% _.each(rides.prices, function(ride) { %>
      <!--e.g. particularFlight.flightNumber-->
      <!--Give each row its own form (POST method)-->
      <tr>
        <td><input type="text" placeholder="<%= ride.estimate %>" name="costDist"></td>
        <td><input type="text" placeholder="<%= ride.duration %>" name="capacity"></td>
        <td><input type="hidden" value="<%= ride.low_estimate %>" name="costMin"></td>
        <td><input type="hidden" value="<%= trip.id %>" name="owner"></td>
        <td><input class="btn btn-success" type="submit" value="Select"/></td>
      </tr>
      <% }); %>
    </table>
  </div>
</form>
